:root {
  --background-color: #f6f6f6;
  --grey: #d3d3d3;
}

* {
  font-family: "Roboto", Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
  margin-top: 8px;
}

.card {
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
}
.btn-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--grey);
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #ededed;
}

button.success {
  background-color: greenyellow;
}

button.danger {
  background-color: orangered;
}
